<!-- MODULE STATUS TABLE -->
<h4> <strong>&#8226 FastQC module status</strong></h4>
<table class="summaryTable">
  <thead>
    <tr>
      <th>Module</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Basic statistics</td><td>{MODULE_STATS}</td>
    </tr>
    <tr>
      <td>Per base sequence quality</td><td>{MODULE_PBSQ}</td>
    </tr>
    <tr>
      <td>Per tile sequence quality</td><td>{MODULE_PTSQ}</td>
    </tr>
    <tr>
      <td>Per sequence quality scores</td><td>{MODULE_PSQS}</td>
    </tr>
    <tr>
      <td>Per base sequence content</td><td>{MODULE_PBSC}</td>
    </tr>
    <tr>
      <td>Per sequence GC content</td><td>{MODULE_PSGCC}</td>
    </tr>
    <tr>
      <td>Per base N content</td><td>{MODULE_PBNC}</td>
    </tr>
    <tr>
      <td>Sequence length distribution</td><td>{MODULE_SEQLENDIST}</td>
    </tr>
    <tr>
      <td>Sequence duplication levels</td><td>{MODULE_SEQDUP}</td>
    </tr>
    <tr>
      <td>Overrepresented sequences</td><td>{MODULE_OVERREP}</td>
    </tr>
    <tr>
      <td>Adapter content</td><td>{MODULE_ADAPTER}</td>
    </tr>
  </tbody>
</table>
<br />

<!-- BASIC STATS TABLE -->
<h4> <strong>&#8226 FastQC basic statistics</strong></h4>
<table class="summaryTable">
  <thead>
    <tr>
      <th>Measure</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Filename</td><td>{FQC_FILENAME}</td>
    </tr>
    <tr>
      <td>File Type</td><td>{FQC_FILETYPE}</td>
    </tr>
    <tr>
      <td>Encoding</td><td>{FQC_ENCODING}</td>
    </tr>
    <tr>
      <td>Total sequences</td><td>{FQC_TOTALSEQ}</td>
    </tr>
    <tr>
      <td>Poor quality sequences</td><td>{FQC_POORQUAL}</td>
    </tr>
    <tr>
      <td>Sequence length</td><td>{FQC_SEQLEN}</td>
    </tr>
    <tr>
      <td>GC percent</td><td>{FQC_GCPCNT}</td>
    </tr>
  </tbody>
</table>
