					<li>
						<a href="#" class="sequence_sample_link" data-sequenceid="{ID}">&#9658 {ID}</a>
						<ul>
							<li><a class="sequence_sample_sublink" href="#" data-sequenceid="{ID}" data-title="seqqc">#SequenceQualityControl</a></li>
							<li><a class="sequence_sample_sublink" href="#" data-sequenceid="{ID}" data-title="seqalign">#SequenceAlignment</a></li>
							<li><a class="sequence_sample_sublink" href="#" data-sequenceid="{ID}" data-title="genotype">#AlleleGenotyping</a></li>
						</ul>
					</li>
