<div class="wrap-collapsible">
  <input id="fwcollapsible" class="toggle" type="checkbox">
  <label for="fwcollapsible" class="lbl-toggle">Forward trim report</label>
  <div class="collapsible-content">
    <div class="content-inner">
      <p> {FORWARD_TRIM} </p>
    </div>
  </div>
</div>

<br />

<div class="wrap-collapsible">
  <input id="rvcollapsible" class="toggle" type="checkbox">
  <label for="rvcollapsible" class="lbl-toggle">Reverse trim report</label>
  <div class="collapsible-content">
    <div class="content-inner">
      <p> {REVERSE_TRIM} </p>
    </div>
  </div>
</div>

<br />

<div class="wrap-collapsible">
  <input id="fqcollapsible" class="toggle" type="checkbox">
  <label for="fqcollapsible" class="lbl-toggle">FastQC Report</label>
  <div class="collapsible-content">
    <div class="content-inner">
      <p> {FASTQC} </p>
    </div>
  </div>
</div>
