<div class="wrap-collapsible">
  <input id="{ID}fwcollapsible" class="toggle" type="checkbox">
  <label for="{ID}fwcollapsible" class="lbl-toggle">Forward trim report</label>
  <div class="collapsible-content">
    <div class="content-inner">
      <p> {FORWARD_TRIM} </p>
    </div>
  </div>
</div>

<br />

<div class="wrap-collapsible">
  <input id="{ID}rvcollapsible" class="toggle" type="checkbox">
  <label for="{ID}rvcollapsible" class="lbl-toggle">Reverse trim report</label>
  <div class="collapsible-content">
    <div class="content-inner">
      <p> {REVERSE_TRIM} </p>
    </div>
  </div>
</div>

<br />

<div class="wrap-collapsible">
  <input id="{ID}fqcollapsible" class="toggle" type="checkbox">
  <label for="{ID}fqcollapsible" class="lbl-toggle">FastQC Report</label>
  <div class="collapsible-content">
    <div class="content-inner">
      <p> {FASTQC} </p>
    </div>
  </div>
</div>

<br />
<h4> <strong>&#8226 FastQC Per base sequence quality</strong></h4>
<div class='chart-container'>
  <canvas id="{ID}_FQC_PBSQ" width="20" height="10" data-test="hello pbsq"></canvas>
</div>
<br />

<br />
<h4> <strong>&#8226 FastQC Per base N content</strong></h4>
<div class='chart-container'>
  <canvas id="{ID}_FQC_PBNC" width="20" height="10" data-test="hello pbnc"></canvas>
</div>
<br />

<br />
<h4> <strong>&#8226 FastQC Sequence length distribution</strong></h4>
<div class='chart-container'>
  <canvas id="{ID}_FQC_SEQLENDIST" width="20" height="10" data-test="hello seqlendist"></canvas>
</div>
<br />
