          <div class="sequence" data-sequenceid="{ID}">
            <h1 data-sequenceid="{ID}" data-title="sample">{ID}</h1>
            <br />
            <p>HEADLINE FIGURES FOR GENOTYPE GO HERE; ALLELE SIZES AND CONFIDENCE?</p>
            <br />

            <h3 data-sequenceid="{ID}" data-title="seqqc">#SequenceQualityControl</h3>
            <p>{SEQ_QC}</p>
            <br />

            <h3 data-sequenceid="{ID}" data-title="seqalign">#SequenceAlignment</h3>
            <p>{SEQ_ALN}</p>
            <br />
            <p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br />

            <h3 data-sequenceid="{ID}" data-title="genotype">#AlleleGenotyping</h3>
            <p>{GTYPE}</p>
            <br />
            <p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br />
          </div>
