          <div class="sequence" data-sequenceid="{ID}">
            <h2>{ID}</h2>
            <p>HEADLINE FIGURES FOR GENOTYPE GO HERE; ALLELE SIZES AND CONFIDENCE?</p>
            <br />

            <h3 data-sequenceid="{ID}" data-title="seqqc">SeqQC</h3>
            <p>{SEQ_QC}</p>
            <br />

            <h3 data-sequenceid="{ID}" data-title="seqalign">SeqAlign</h3>
            <p>{SEQ_ALN}</p>
            <br />

            <h3 data-sequenceid="{ID}" data-title="genotype">Genotype</h3>
            <p>{GTYPE}</p>
            <br />
          </div>
