          <div class="sequence" data-sequenceid="{ID}">
            <h2>{ID}</h2>
            <p>This is some text you can put to introduce whatever. Additional metdata perhaps?
            <br />

            <h3 data-sequenceid="{ID}" data-title="seqqc">SeqQC</h3>
            <p>{SEQ_QC}</p>
            <br />
            <p>{SEQ_QC}</p>
            <br />
            <p>{SEQ_QC}</p>
            <br />
            <p>{SEQ_QC}</p>
            <br />
            <p>{SEQ_QC}</p>
            <br />
            <p>{SEQ_QC}</p>
            <br />
            <p>{SEQ_QC}</p>
            <br />
            <p>{SEQ_QC}</p>
            <br />
            <p>{SEQ_QC}</p>
            <br />
            <p>{SEQ_QC}</p>
            <br />
            <p>{SEQ_QC}</p>
            <br />
            <p>{SEQ_QC}</p>
            <br />

            <h3 data-sequenceid="{ID}" data-title="seqalign">SeqAlign</h3>
            <p>{SEQ_ALN}</p><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br /><p>{SEQ_ALN}</p>
            <br />

            <h3 data-sequenceid="{ID}" data-title="genotype">Genotype</h3>
            <p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br /><p>{GTYPE}</p>
            <br />
          </div>
